.App {
  text-align: center;
  background-color: bisque;
}
.base_page-align_center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
}

.container_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container_form-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
}

.container_form-list_item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
